@font-face {
  font-family: planetsideHeaderFont;
  src: url('/font/PlanetSide2.ttf');
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: planetsideHeaderFont !important;
}

@media only screen and (max-width: 767px) {

  /*for boostrap xs*/
  .main-content {
    padding-bottom: 10rem !important;
  }
}

.main-content {
  margin: 0 auto;
  position: relative;
}

.main-content:not(:has(.full-width)) {
  padding: 0 2.0rem;
  width: 80%
}

footer {
  z-index: 99;
}
